<ion-header mode="ios">
  <ion-toolbar color="tertiary">
		<ion-title>채팅</ion-title>
		<ion-buttons slot="end" mode="md">
			<ion-button>
				<ion-icon slot="icon-only" name="remove" color="tertiary"></ion-icon>
			</ion-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="60" pullMax="300">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>	

	<div class="message-wrap">

		<div class="none-bg" *ngIf="flag"></div>
		<div class="none-title" *ngIf="flag">아직 대화가 없습니다.</div>
		<div class="none-subtitle" *ngIf="flag"><p>좋아하는 회원에게</p><p>쪽지를 발송해 보세요~</p></div>	

		<ion-list mode="ios">
			<ion-item-sliding *ngFor="let list of lists; let i = index">
				<ion-item (press)="msgHold(list, i)">
					<ion-avatar slot="start" *ngIf="user">
						<ion-img src="{{list.target.profile.profile_image}}" (ionError)="loadDefault($event)" (click)="ModalProfile(list.target)"></ion-img>
					</ion-avatar>
					<ion-label (click)="room(list)" *ngIf="user">
						<h2><strong>{{ list.target.username }}</strong></h2>

						<p class="text" *ngIf="user.expire">새 메시지가 있습니다.</p>
						<p class="text" *ngIf="!user.expire">{{ list.messages.type=='image'?'사진을 보냈습니다.':list.messages.message }}</p>
					</ion-label>
					<ion-button shape="round" color="danger" slot="end" size="small" class="new" *ngIf="list.newMsg">
						{{ list.newMsg }}
					</ion-button>
					<div class="date">{{ list.updated_at | date:'M.d(E) H:mm':'+0900':'ko-KR'}}</div>
				</ion-item>
				<ion-item-options side="start">
					<ion-item-option class="color-block" (click)="block(list)"><ion-icon slot="icon-only" name="eye-off"></ion-icon></ion-item-option>
					<ion-item-option class="color-alarm" (click)="alarmOff(list)"><ion-icon slot="icon-only" name="notifications-off"></ion-icon></ion-item-option>
				</ion-item-options>
				<ion-item-options side="end">
					<ion-item-option color="medium" (click)="unread(list)">읽음</ion-item-option>
					<ion-item-option color="danger" (click)="chatOut(list)">나가기</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
		</ion-list>

	</div>

	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
