app/guards
app/service/authentication.service.ts
app/service/payment.service.ts
app/service/user.service.ts
app/service/verify.service.ts
app/service/message.ts
app/pages/modal/aggrement
app/pages/login