<ion-header mode="ios">
  <ion-toolbar color="danger">
    <ion-title text-center>초대장 매치!</ion-title>
    <ion-buttons slot="end" mode="md">
    	<ion-button (click)="close(false)">
      	<ion-icon slot="icon-only" name="close" mode="md"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-list text-center margin-top>
		초대장의 '<strong>파트너</strong>'로 확정되었습니다.
	</ion-list>

	<ion-list class="complete-field" *ngIf="user && params">
		<ion-grid>
			<ion-row>
				<ion-col offset="2" text-center (click)="ModalProfile(params.rsvp.user)">
					<img [src]="params.rsvp.user.profile.profile_image?params.rsvp.user.profile.profile_image:images" />
					<div class="username">{{ params.rsvp.user.username }}</div>
				</ion-col>
				<ion-col size="2" text-center class="ion-justify-content-between">
					<ion-label>
						<ion-icon slot="icon-only" name="heart" color="danger" mode="md"></ion-icon>
					</ion-label>
				</ion-col>
				<ion-col text-center (click)="ModalProfile(params.rsvp.partner.user)">
					<img [src]="params.rsvp.partner.user.profile.profile_image?params.rsvp.partner.user.profile.profile_image:images" />
					<div class="username">{{ params.rsvp.partner.user.username }}</div>
				</ion-col>
				<ion-col size="2">
				</ion-col>
			</ion-row>
	  </ion-grid>
	</ion-list>

</ion-content>

<ion-footer mode="ios">
  <ion-list mode="md" class="complete-bottom">
		<p text-center>파트너에게 먼저 통화해 보세요~</p>
		<div padding *ngIf="user">
			<ion-button href="tel:{{params.rsvp.user.hp}}" expand="block" size="large" color="tertiary" margin-top strong *ngIf="params.rsvp.partner.user._id == user._id">
				<ion-icon slot="start" name="call" mode="ios"></ion-icon>
				통화하기
			</ion-button>
			<ion-button href="tel:{{params.rsvp.partner.user.hp}}" expand="block" size="large" color="tertiary" margin-top strong *ngIf="params.rsvp.user._id == user._id">
				<ion-icon slot="start" name="call" mode="ios"></ion-icon>
				통화하기
			</ion-button>
			<ion-button expand="block" size="large" color="tertiary" fill="outline" strong margin-top (click)="close(user)">
				<ion-icon slot="start" name="text" mode="ios"></ion-icon>
				채팅하기
			</ion-button>
		</div>
	</ion-list>
</ion-footer>