.guide-wrap {
	background-color: rgba(0, 0, 0, 0.4) !important;
	background: rgba(0, 0, 0, 0.4) !important;
	--background: rgba(0, 0, 0, 0.4) !important;
		--height: 300px;
	.popover-content {
		background-color: rgba(0, 0, 0, 0.4) !important;
		background: rgba(0, 0, 0, 0.4) !important;
		--background: rgba(0, 0, 0, 0.4) !important;
		--height: 300px;
	}
	.popover-viewport {
		background-color: rgba(0, 0, 0, 0.4) !important;
		background: rgba(0, 0, 0, 0.4) !important;
		--background: rgba(0, 0, 0, 0.4) !important;	
	}
}